<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?if $(var.Platform)="x64"?>
  <!--<?define ProductCode="{374D9223-026A-407D-B549-F027E77F267E}"?>-->
  <?define ProductCode="{985B3276-8A00-4ECB-A091-72ACFAB8F7E0}"?>
  <?else?>
  <!--<?define ProductCode="{E5B93625-348D-4BF5-ACE5-C65B34884DD0}"?>-->
  <?define ProductCode="{0DF45F18-B2A7-436B-9D76-C7E8327BB03F}"?>
  <?endif?>

  <?define UpgradeCode = "{CDB48803-2E89-42CB-8554-18940696956C}" ?>

  <Product Id="$(var.ProductCode)"
           Name="!(loc.ProductName_$(var.Platform))"
           Language="!(loc.Language)"
           Version="$(var.BuildVersion)"
           Manufacturer="!(loc.Company)"
           UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Platform="$(var.Platform)"
             Manufacturer="!(loc.Company)"
             Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
             Comments="!(loc.Comments)"
             Languages="!(loc.Language)"/>

    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."/>
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="seti_logo.ico" SourceFile="$(var.ControllerProgrammer.Main.ProjectDir)\Images\seti_logo.ico"/>
    <Property Id="ARPPRODUCTICON">seti_logo.ico</Property>

    <UIRef Id="WixUI_Minimal" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)Assets\SETiLicense.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)Assets\Background.jpg" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)Assets\GermsBanner.jpg" />

    <Feature Id="ProductFeature" Title="ManufacturingInventory" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents" />
    </Feature>
  </Product>
</Wix>
